/* PHASE 12: Modal */
.modal {

}

.modal-screen{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2px;
  background-color: rgba(0,0,0,0.8);
}

.modal-form{
  position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
  border: 3px solid #73AD21;

}

